/**
*	JWD CMS
* 	Author	: Agus Prawoto Hadi
* 	Year		: 2021-2022
* 	Website	: jagowebdev.com
*/

.feature-image {
	width: 100%;
    border: 2px dashed #CCCCCC;
    height: 100%;
    min-height: 125px;
	cursor: pointer;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
	position: relative;
}
.feature-image img {
	max-width: 100%;
    max-height: 150px;
}

.btn-square-xs {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-top-right {
	position: absolute;
	top: 0;
	right: 0;
}