/**
* Overide default style of plugins
* Written by: Agus Prawoto Hadi
* Year		: 2021-2022
* Website	: jagowebdev.com
*/

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #cad3d9;
    border-radius: 4px;
    cursor: text;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #cad3d9 1px;
    outline: 0;
}