header {
	background: #2784C5;
}
.site-content {
	background-color: #ecf3f7;
}
header, header a {
	color: #c5deea;
}
.sidebar nav>ul>li.highlight>a {
    background: #47a2e1 !important;
}
.nav-header-logo{
	background: #2378b4;
	color: #FFFFFF;
}
.nav-header-logo p {
	color: rgba(255, 255, 255, 0.95);
}
.account-img-profile {
    background: #b1daf7;
}
.account-menu-container {
    background: #f0f8ff;
}
.account-menu li a:hover {
    background: #89c5f1;
}