header {
	background: #43a047;
}
.site-content {
	background-color: #f1f4f6;
}
header, header a {
	color: #c5deea;
}
.sidebar nav>ul>li.highlight>a {
    background: #4cc151 !important;
}
.nav-header-logo{
	background: #2e8332;
    color: #FFFFFF;
}
.nav-header-logo p {
	color: rgba(255, 255, 255, 0.95);
}
.account-img-profile {
    background: #c6f7c8
}
.account-menu-container {
    background: #edffeb;
}
.account-menu li a:hover {
    background: #a8e9ab;
}