header {
	background: #63697b;
}
.site-content {
	background-color: #f4f4f4;
}
header, header a {
	color: #c5deea;
}
.sidebar nav>ul>li.highlight>a {
    background: #6e758c !important;
}
.nav-header-logo{
	background: #414659;
    color: #FFFFFF;
}
.nav-header-logo p {
	color: rgba(255, 255, 255, 0.95);
}
.account-img-profile {
    background: #c9cfd2;
}
.account-menu-container {
    background: #e7e9eb;
}
.account-menu li a:hover {
    background: #b8c1c4;
}