header {
	background: #e53935;
}
.site-content {
	background-color: #f1f4f6;
}
header, header a {
	color: #c5deea;
}
.sidebar nav>ul>li.highlight>a {
    background: #f64945 !important;
}
.nav-header-logo{
	background: #de2e2a;
    color: #FFFFFF;
}
.nav-header-logo p {
	color: rgba(255, 255, 255, 0.95);
}
.account-img-profile {
    background: #ffd2d1;
}
.account-menu-container {
    background: #fee;
}
.account-menu li a:hover {
    background: #ffc0bf;
}